@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:ital,wght@0,400;0,900;1,100&display=swap');

* {
  padding: 0;
  margin: 0;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;
  color: #140502;
}

body {
  display: flex;
flex-direction: column;
min-width: 100vh;


}

.container-top {
  background-color: #030000;

  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  margin: 1em 16em 0 16em;

  justify-content: space-between;

  align-items: center;

}

.header logo,
.header ul,
.header menu {
  display: flex;
  list-style: none;
  gap: 15px;
  color: white;


  padding-bottom: 2em;
}

.logo{
  display: flex;
  width: 5%;
  height: auto;
  background-image: url("/assets/img/coffe-icon.png");
  background-repeat: no-repeat;
}

.header p{
  color: white;
}

.container-title {
  margin: 1em 16em 0 16em;
  padding-bottom: 50px;

  display: flex;

  justify-content: space-between;
}

.title{
  display: flex;
  flex-flow: row wrap;

  max-width: 500px;

}

h1{
  font-size: 48px;
  color: white;
}

.title p{
color: white;
font-size: 16px;

}

.title button{
  align-self: flex-start;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 7px;

  padding: 4px 12px 4px 12px;
  margin-top: 5px;
  background-color: #140502;

}

img {
  display: flex;
  flex-shrink: 0;

  max-width: 650px;

  margin-left: 30px;
}

.container-middle {
  display: flex;
  /* background-color: gray; */

  flex-flow: row wrap;

  justify-content: center;

  padding-bottom: 6em;
}

.title-middle{
  display: flex;
  justify-content: center;
  align-items: center;

  color: #140502;

  font-size: 36px;
  padding: 1.2em;
}

.icon {
  width: 120px;
  height: 120px;
  border: 5px solid rgb(93 53 33);

  border-radius: 13px;


}

.icons-middle{
  margin: 0 25px 0 25px;

  gap: 15px;

  display: flex;
  flex-flow: column wrap;
  max-width: 180px;

  text-align: center;
  justify-content: space-between;
  align-items: center;

}

.title-bottom{
  display: flex;
}

.container-bottom{
  display: flex;

  background-color: darkblue;

}

footer {
  background-color: yellow;
}
