@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:ital,wght@0,400;0,900;1,100&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vh;
}

.container-top {
  background-color: #030000;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  margin: 1em 16em 0 16em;
  justify-content: space-between;
  align-items: center;
}

.header logo,
.header ul,
.header menu {
  display: flex;
  list-style: none;
  gap: 15px;
  color: #fff;
  padding-bottom: 2em;
}

.logo {
  display: flex;
  width: 6%;
}

.header p {
  color: white;
}

.container-title {
  display: flex;
  margin: 1em 16em 0 16em;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-flow: row wrap;
  max-width: 500px;
}

h1 {
  font-size: 48px;
  color: white;
}

.title p {
  color: white;
  font-size: 16px;
}

.title button {
  align-self: flex-start;
  color: white;
  font-size: 16px;
  border: 2px solid #5d504a;
  border-radius: 7px;
  padding: 4px 12px 4px 12px;
  margin-top: 5px;
  background-color: #140502;
}

img {
  display: flex;
  flex-shrink: 0;
  max-width: 650px;
  margin-left: 30px;
}

.container-middle {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 6em;
}

.title-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #140502;
  font-size: 36px;
  padding: 1.2em;
}

.icon > img {
  width: 150px;
  height: 150px;
  border: 5px solid rgb(93 53 33);
  margin: 0;
  border-radius: 13px;
}

.icons-middle {
  margin: 0 25px 0 25px;
  gap: 15px;
  display: flex;
  flex-flow: column wrap;
  max-width: 180px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.container-bottom-start {
  display: flex;
  background-color: #a66a51eb;
  color: #140502;
  flex-flow: column nowrap;
  align-items: center;
}

.title-bottom-p1 {
  padding-top: 90px;
  max-width: 950px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 36px;
  font-weight: light;
  font-style: italic;
}

.title-bottom-p1 p {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  padding-bottom: 80px;
}

.container-bottom-end {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.container-bottom-end-new {
  margin: 100px;
  padding: 40px 30px 40px 30px;
  border-radius: 6px;
  min-width: 950px;
  color: #fff;
  gap: 250px;
  display: flex;
  justify-content: center;
  background-color: #482d22;
}

.cont-bottom-title {
  display: flex;
  flex-flow: column wrap;
}

.container-bottom-end-new button {
  display: flex;
  align-self: flex-start;
  color: white;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 7px;
  padding: 4px 12px 4px 12px;
  margin-top: 5px;
  background-color: #14050200;
}

footer {
  padding: 18px;
  background-color: #140502;
  display: flex;
  color: #fff;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}
