@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:ital,wght@0,400;0,900;1,100&display=swap');

* {
  padding: 0;
  margin: 0;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
flex-direction: column;
}

.container-top {
  background-color: #030000;

  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  margin: 1em 16em 0 16em;

  justify-content: space-between;

  align-items: center;

}

.header logo,
.header ul,
.header menu {
  display: flex;
  list-style: none;
  gap: 15px;
  color: white;


  padding-bottom: 2em;
}

.logo{
  display: flex;
  width: 5%;
  height: auto;
  background-image: url("/assets/img/coffe-icon.png");
  background-repeat: no-repeat;
}

.header p{
  color: white;
}

.container-title {
  margin: 1em 16em 0 16em;
  padding-bottom: 50px;

  display: flex;

  justify-content: space-between;
}

.title{
  display: flex;
  flex-flow: row wrap;

  max-width: 500px;

}

h1{
  font-size: 48px;
  color: white;
}

.title p{
color: white;
font-size: 16px;

}

.title button{
  align-self: flex-start;
  color: white;

  border: none;
  border-radius: 7px;

  padding: 4px 8px 4px 8px;
  margin-top: 5px;
  background-color: #140502;

}

img {
  max-width: 400px;
  margin-left: 10px;
}

.container-middle {
  display: flex;
}

.text {
  border: 2px dotted blue;
}

footer {
  background-color: blue;
}
